.trustpositif.fqNqvr/
*.aria2
*.part
*.tmp
*.download
/tmp/trustpositif.fqNqvr
temp_downloads/
*.zip.tmp
.trustpositif.vXQ8Xl/
/tmp/trustpositif.vXQ8Xl
.trustpositif.efO6h9/
/tmp/trustpositif.efO6h9
*.7z.tmp
.DS_Store
